<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>My Past Searches</title>
  <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
<h1>My Past Searches</h1>
<table>
  <thead>
  <tr>
    <th>Query</th>
    <th>Time</th>
    <th>Item name</th>
    <th>Amazon.com price</th>
    <th>Amazon.co.uk price</th>
    <th>Amazon.de price</th>
    <th>Amazon.ca price</th>
  </tr>
  </thead>
  <tbody>
    <!-- The results will be added here using JavaScript -->
  </tbody>
</table>

<p><a href="http://localhost:81/" class="button-link">Back to Search</a></p>

<script src="../static/js/past_searches_page.js"></script>
</body>
</html>
