<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>My Past Searches</title>
  <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
<h1>My Past Searches</h1>
<table>
  <thead>
  <tr>
    <th>Query</th>
    <th>Time</th>
    <th>Item name</th>
    <th>Amazon.com price</th>
    <th>Amazon.co.uk price</th>
    <th>Amazon.de price</th>
    <th>Amazon.ca price</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>iPhone 12</td>
    <td>2022-03-15 14:23:01</td>
    <td>Apple iPhone 12 (64GB, Blue) [Locked] + Carrier Subscription</td>
    <td>$799.00</td>
    <td>£699.00</td>
    <td>€799,00</td>
    <td>$1,029.99</td>
  </tr>
  <tr>
    <td>Wireless earbuds</td>
    <td>2022-03-14 10:05:12</td>
    <td>Sony WF-1000XM4 True Wireless Noise Cancelling Headphones - Black</td>
    <td>$278.00</td>
    <td>£249.99</td>
    <td>€279,00</td>
    <td>$349.99</td>
  </tr>
  <tr>
    <td>Smartwatch</td>
    <td>2022-03-10 09:30:15</td>
    <td>Apple Watch Series 7 GPS, 41mm Silver Aluminum Case with White Sport Band</td>
    <td>$399.00</td>
    <td>£379.00</td>
    <td>€429,00</td>
    <td>$529.00</td>
  </tr>
  </tbody>
</table>

<p><a href="index.html">Search page</a></p>

</body>
</html>
